[Unit]
Description=Run Bot Cripto retraining daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
AccuracySec=1m
Unit=bot-cripto-retrain.service

[Install]
WantedBy=timers.target
